<h1> Course {{course.title}}</h1>
<div class="container">
  <div class="row">
    <div class="col-5">
      <div style="background-color: darkgrey;
           font-weight: bold;
           text-align: center">
        CourseTableComponent
      </div>
    </div>
    <div class="col-7">
      <div style="background-color: darkgrey;
           font-weight: bold;
           text-align: center">
        CourseViewerComponent
      </div>
    </div>
    <div class="col-5">
      <div>
        <app-course-table></app-course-table>
      </div>
    </div>
    <div class="col-7">
      <app-module-list></app-module-list>
      <app-lesson-tabs></app-lesson-tabs>
    </div>
  </div>
</div>

